<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <i class="material-icons">people_alt</i>
      <ion-label>Faculty</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <i class="material-icons">remove_red_eye</i>
      <ion-label>Vis&Mis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <i class="material-icons">emoji_events</i>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feedback">
      <i class="material-icons">forum</i>
      <ion-label>Feedback</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
