<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vision & Mission
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/vm.png" height="150" width="400">
    <h2 align="center"><b>VISION</b></h2><hr>
    <ul><li>
      <p style="text-align: left;">
        To build a renowned institute which will produce graduate engineers with global competency and social sensitivity.

                      </p></li></ul>
            <br><br> <br>
   <h2 align="center"><b>Our MISSION</b></h2><hr>
   <ul><li>
     <p style="text-align: left;">
      Provide high quality education in engineering and technology promoting the Indian Values and Ethos that will prepare the participants to lead lives of personal integrity and civic responsibility in a global society.

      </p></li>
      <li>
        <p style="text-align: left;">
          Promote an Educational Environment that combines academic study with the excitement of intellectual curiosity for engineers of tomorrow.

      </p></li>
      <li>
      <p style="text-align: left;">
        Enhance career opportunities for students through Industry-Institute interaction, value-added courses and projects in cutting edge technology.

      </p></li>
      <li>
      <p style="text-align: left;">
        Inculcate Entrepreneurial mindset in students to make them job creators.

        </p></li>
    </ul>

  </ion-card>

</ion-content>

