<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EVENTS
    </ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content class="ion-padding">
 <div id="down">
   <ul>
     <li>
       <input type="checkbox" checked>
       
       <h2>Oculus Programme</h2>
       <p>Date - 5/9/2021<br> Time - 09 am to 11 am <br> <b>Some students will perform and show their talents on the stage.</b></p>
     </li>
     <li>
      <input type="checkbox" checked>
      
      <h2>Seminar on Entrepreneurship</h2>
       <p>Date - 10/10/2021<br> Time - 09 am to 11 am <br> <b>Main concepts of Entrepreneurship will be discussed and path will be given for becoming a future Entrepreneur</b></p>
    </li>
    <li>
      <input type="checkbox" checked>
   
      <h2>Guest Lecture on GiT</h2>
       <p>Date - 15/11/2021<br> Time - 09 am to 11 am <br> <b>All concepts of GiT will be discussed by a professional git user</b></p>
    </li>
    <li>
      <input type="checkbox" checked>
      
      <h2>Christmas Celebration</h2>
       <p>Date - 30/12/2021<br> Time - 09 am to 11 am <br> <b>Santaclaus will come to give us the desired gift.</b></p>
    </li>
   </ul>
 </div>

</ion-content>
